[submodule "kingpin accounts\""]
	path = kingpin accounts\"
	url = \"C:\\Users\\Logan\\Documents\\kingpin repo\\Wilson-Fisk\\repo\\kingpin accounts\"
[submodule "kingpin"]
	path = kingpin
	url = https://github.com/Wilson-Fisk/kingpin.git
[submodule "Kingpin Accounts"]
	path = Kingpin Accounts
	url = https://github.com/Wilson-Fisk/KA.git
[submodule "Kingpin Scrapers"]
	path = Kingpin Scrapers
	url = https://github.com/Wilson-Fisk/KS.git
