[submodule "kingpin accounts\""]
	path = kingpin accounts\"
	url = \"C:\\Users\\Logan\\Documents\\kingpin repo\\Wilson-Fisk\\repo\\kingpin accounts\"
[submodule "kingpin"]
	path = kingpin
	url = https://github.com/Wilson-Fisk/kingpin.git
