[submodule "kingpin accounts\""]
	path = kingpin accounts\"
	url = \"C:\\Users\\Logan\\Documents\\kingpin repo\\Wilson-Fisk\\repo\\kingpin accounts\"
[submodule "repo/Kingpin"]
	path = repo/Kingpin
	url = https://github.com/Wilson-Fisk/kingpin.git
[submodule "repo/Kingpin Scrapers"]
	path = repo/Kingpin Scrapers
	url = https://github.com/Wilson-Fisk/KS.git
[submodule "repo/Kingpin Context"]
	path = repo/Kingpin Context
	url = https://github.com/Wilson-Fisk/KingpinContext.git